ej3fichas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:element name="fichas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ficha" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
        <xs:element name="ficha">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="nombre" type="xs:string" />
                    <xs:element name="edad"/>
                </xs:sequence>
                <xs:attribute name="numero"  use="required"/>
            </xs:complexType>
        </xs:element>
</xs:schema>